@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations

<div class="container main-container">
    <SfAppBar>
        <img class="logo" src="css/images/Healthstat.png" alt="Healthstat" />
        <div class="title" style="margin: 0.4% 0.5%; font-weight: 600; font-size: 18px; color: #1A1A1A;">
            Health Tracker
        </div>
        <AppBarSpacer></AppBarSpacer>
        <div style="font-weight: 700; font-size: 1.01rem; margin: 4px;">Hi, John Smith</div>
        <img style="padding-right: 0.8%" src="css/images/Profile_.png" alt="Profile" />
    </SfAppBar>

    <div class="row" style="margin-right: 1%">
        <Cards></Cards>
    </div>

    <div class="row" style="margin-left: 20px; margin-right: 45px">
        @Body
    </div>

</div>
