a {
    text-decoration: none !important;
}

h3 {
    margin-bottom: 0px !important;
    padding-top: 2%;
}

.card-header {
    font-size: 32px;
}

.card-text {
    font-size: 18px
}

.card-container {   
    min-width: 100%;   
}

.navStyle {
    min-width: 25% !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Calorie-fonts {
    padding-left: 5%;    
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0;
    color: rgb(130, 130, 130) !important;
    border-radius: 4px !important;
   
}

    .Calorie-fonts:hover {
        color: #F16A30 !important;
    }
.card-Calorie-image{
    float:right;
    display:grid;
    height: 65px;
    width: 65px;
    
    margin-right: 3%;
    margin-bottom: 2%;
    background-image: url(images/food.png);
}

.Calorie-fonts-click {
    padding-left: 5%;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0;
    color: white !important;
    border-radius: 4px !important;
    background-image: linear-gradient(45deg, #F23B3B 0%, #EF9027 100%) !important;
}

.card-Calorie-image-click {
    float: right;
    display: grid;
    height: 65px;
    width: 65px;
    margin-right: 3%;
    margin-bottom: 2%;
    background-image: url(images/food_white.png);
}

.Calorie-fonts:hover .card-Calorie-image {
    background-image: url(images/Food_Hover.png);
}

/* Step fonts*/
.step-fonts {
    padding-left: 5%;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0;
    color: rgb(130, 130, 130) !important;
    border-radius: 4px !important;
}

.step-fonts-click {
    padding-left: 5%;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0;
    color: white !important;
    border-radius: 4px !important;
    background-image: linear-gradient(45deg, #04AB11 0%, #7DD61D 100%) !important;
}

    .step-fonts:hover {
        color: #078411 !important;
    }

.card-step-image {
    float: right;
    display: grid;
    height: 65px;
    width: 65px;
    margin-right: 3%;
    margin-bottom: 2%;
    background-image: url(images/steps.png);
}

.card-step-image-click {
    float: right;
    display: grid;
    height: 65px;
    width: 65px;
    margin-right: 3%;
    margin-bottom: 2%;
    background-image: url(images/steps_white.png);
}

.step-fonts:hover .card-step-image {
    background-image: url(images/steps_hover.png);
}

/* water font*/
/* water fonts*/
.water-fonts {
    padding-left: 5%;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0;
    color: rgb(130, 130, 130) !important;
    border-radius: 4px !important;
}

    .water-fonts:hover {
        color: #1867DA !important;
    }

.card-water-image {
    float: right;
    display: grid;
    height: 65px;
    width: 65px;
    margin-right: 3%;
    margin-bottom: 2%;
    background-image: url(images/water.png);
}

.water-fonts:hover .card-water-image {
    background-image: url(images/water_hover.png);
}

.water-fonts-click {
    padding-left: 5%;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0;
    color: white !important;
    border-radius: 4px !important;
    background-image: linear-gradient(44deg, #2140DC 0%, #00BFD5 100%) !important;
}

.card-water-image-click {
    float: right;
    display: grid;
    height: 65px;
    width: 65px;
    margin-right: 3%;
    margin-bottom: 2%;
    background-image: url(images/water_white.png);
}

/* Sleep styles*/
.sleep-fonts {
    padding-left: 5%;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0;
    color: rgb(130, 130, 130) !important;
    border-radius: 4px !important;
}

    .sleep-fonts:hover {
        color: #6638B9 !important;
    }

.card-sleep-image {
    float: right;
    display: grid;
    height: 65px;
    width: 65px;
    margin-right: 3%;
    margin-bottom: 2%;
    background-image: url(images/sleep.png);
}

.sleep-fonts:hover .card-sleep-image {
    background-image: url(images/sleep_hover.png);
}


.sleep-fonts-click {
    padding-left: 5%;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0;
    color: white !important;
    border-radius: 4px !important;
    background-image: linear-gradient(-135deg, #2925A6 0%, #B250D1 100%) !important;
}

.card-sleep-image-click {
    float: right;
    display: grid;
    height: 65px;
    width: 65px;
    margin-right: 3%;
    margin-bottom: 2%;
    background-image: url(images/sleep_white.png);
}

