a {
    text-decoration: none !important;
}
.card-container h3 {
    margin-bottom: 0px !important;
    padding-top: 2%;
}
.card-container {   
    width: 100%;
    padding-left: 15px;
    padding-right: 40px;
}
.e-card{
    padding-left: 5%;
    border-radius: 4px;
}
.navStyle {
    padding: 0px 0px 20px 20px;
}
.activity-icon {
    float: right;
    color: #999393;
    font-size: 65px;
    margin-right: 3%;
    margin-bottom: 2%
}
.icon-steps:before {
    content: "\e90e";
}
.icon-Water:before {
    content: "\e901";
}
.icon-Food:before {
    content: "\e907";
}
.icon-Sleep:before {
    content: "\e909";
}
.icon-Steps:before {
    content: "\e90b";
}
#calories.e-card:hover {
    box-shadow: 0 1px 4px 1px rgba(241,106,48,0.20);
}

#steps.e-card:hover {
    box-shadow: 0 1px 4px 1px rgba(76, 219, 83, 0.3);
}

#water.e-card:hover {
    box-shadow: 0 1px 4px 1px rgba(24,103,218,0.30);
}

#sleep.e-card:hover {
    box-shadow: 0 1px 4px 1px rgba(102,56,185,0.30);
}

#calories.e-card:hover, .e-card:hover #food-img {
    color: #F16A30;
}

#steps.e-card:hover, .e-card:hover #steps-img {
    color: #078411;
}

#water.e-card:hover, .e-card:hover #water-img {
    color: #1867DA;
}

#sleep.e-card:hover, .e-card:hover #sleep-img {
    color: #6638B9;
}
#calories.e-card.selected, .e-card.selected:hover{
    background-image: linear-gradient(45deg, #F23B3B 0%, #EF9027 100%);
    box-shadow: 0 3px 6px 2px rgba(178,30,195,0.30);
    color: #FFFFFF;
}
#steps.e-card.selected, .e-card.selected:hover {
    background-image: linear-gradient(45deg, #04AB11 0%, #7DD61D 100%);
    box-shadow: 0 3px 6px 3px rgba(66,254,19,0.20);
    color: #FFFFFF;
}
#water.e-card.selected, .e-card.selected:hover {
    background-image: linear-gradient(44deg, #2140DC 0%, #00BFD5 100%);
    box-shadow: 0 3px 6px 3px rgba(49,131,185,0.25);
    color: #FFFFFF;
}
#sleep.e-card.selected, .e-card.selected:hover {
    background-image: linear-gradient(-135deg, #2925A6 0%, #B250D1 100%);
    box-shadow: 0 3px 6px 3px rgba(71,63,204,0.20);
    color: #FFFFFF;
}
.e-card.selected #food-img, .e-card.selected #steps-img, .e-card.selected #water-img, .e-card.selected #sleep-img {
    color: #FFFFFF;
}