@inherits LayoutComponentBase
<div class="container main-container">
    <div class="row main-title">
        <div class="col"  style="padding-left: 1.5%; margin-top: 10px;">
            <img src="css/images/Healthstat.png" alt="Healthstat"/>
            <h1 class="health-title">Health Tracker</h1> 
        </div>
        <div class="col" style="text-align: right; padding-right: 1.5%; margin-top: 10px; ">           
             <b>Hi, John Smith</b>      
             <img src="css/images/Profile_.png" alt="Profile" />               
        </div>          
    </div>

    <div class="row" style="margin-right: 1%">
        <Cards></Cards>
    </div>

    <div class="row" style="margin-left: 20px; margin-right: 45px">
        @Body
    </div>

</div>
