/*Skeleton*/
.first-chart-skeleton {
    display: inline-block;
    height: 100%;
    width: 59%;
    margin-left: 0.6%;
    margin-right: 7%;
}

.second-chart-skeleton {
    height: 100%;
    width: 30.5%;
}

@media (max-width:991px) {
    .first-chart-skeleton {
        width: 95%;
        margin: 1% 0 1% 1%;
    }

    .second-chart-skeleton {
        width: 95%;
        margin: 1% 0 1% 1%;
    }
}

@media (max-width: 560px) {
    .first-chart-skeleton {
        width: 100%;
    }

    .second-chart-skeleton {
        width: 100%;
    }
}
