@inject NavigationManager NavigationManager
<div class="card-container">
    <div class="row">
        <NavLink href="calories" Match="NavLinkMatch.All" class="col-xs-6 col-xl-3 col-lg-3 col-md-6 col-sm-6 navStyle">
            @if (isDataLoaded)
            {
                <div id="calories" class="e-card @isCalorieSelected" @onclick="CalorieClick">
                    <h3 style="font-size: 32px; font-weight: 400">13,100</h3>
                    <div>
                        <span style="font-size: initial">Calories Eaten</span>
                        <span id="food-img" class="icon-Food activity-icon"></span>
                    </div>
                </div>
            }
            else
            {
                <SfSkeleton Width="100%" Height="100px" Effect="ShimmerEffect.Wave"> </SfSkeleton>
            }
        </NavLink>
        <NavLink href="steps" class="col-xs-6 col-xl-3 col-lg-3 col-md-6 col-sm-6 navStyle">
            @if (isDataLoaded)
            {
                <div id="steps" class="e-card @isStepSelected" @onclick="stepClick">
                    <h3 style="font-size: 32px; font-weight: 400">52,100</h3>
                    <div>
                        <span style="font-size: initial">Steps Taken</span>
                        <span id="steps-img" class="icon-Steps activity-icon"></span>
                    </div>
                </div>
            }
            else
            {
                <SfSkeleton Width="100%" Height="100px" Effect="ShimmerEffect.Wave"> </SfSkeleton>
            }
        </NavLink>

        <NavLink href="water" class="col-xs-6 col-xl-3 col-lg-3 col-md-6 col-sm-6 navStyle">
            @if (isDataLoaded)
            {
                <div id="water" class="e-card @isWaterSelected" @onclick="waterClick">
                    <h3 style="font-size: 32px; font-weight: 400">38.7 ltr</h3>
                    <div>
                        <span style="font-size: initial">Water Consumed</span>
                        <span id="water-img" class="icon-Water activity-icon"></span>
                    </div>
                </div>
            }
            else
            {
            <SfSkeleton Width="100%" Height="100px" Effect="ShimmerEffect.Wave"> </SfSkeleton>
            }
        </NavLink>
        <NavLink href="sleep" class="col-xs-6 col-xl-3 col-lg-3 col-md-6 col-sm-6 navStyle">
            @if (isDataLoaded)
            {
                <div id="sleep" class="e-card @isSleepSelected" @onclick="sleepClick">
                    <h3 style="font-size: 32px; font-weight: 400">50 hr</h3>
                    <div>
                        <span style="font-size: initial">Sleep Duration</span>
                        <span id="sleep-img" class="icon-Sleep activity-icon"></span>
                    </div>
                </div>
            }
            else
            {
                <SfSkeleton Width="100%" Height="100px" Effect="ShimmerEffect.Wave"> </SfSkeleton>
            }
        </NavLink>
    </div>
</div>

@code {
    private bool isDataLoaded;
    private string? URL;
    string isCalorieSelected = "selected";
    string isStepSelected = "";
    string isWaterSelected = "";
    string isSleepSelected = "";

    protected override void OnInitialized()
    {
        URL = NavigationManager.Uri;
    }

    private async void LoadData()
    {
        if (URL.Contains("water"))
        {
            waterClick();
        }
        else if (URL.Contains("steps"))
        {
            stepClick();
        }
        else if (URL.Contains("sleep"))
        {
            sleepClick();
        }
        await Task.Delay(2000);
        isDataLoaded = true;
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            LoadData();
        }
    }

    public void stepClick()
    {
        isCalorieSelected = "";
        isStepSelected = "selected";
        isWaterSelected = "";
        isSleepSelected = "";
    }

    public void CalorieClick()
    {
        isCalorieSelected = "selected";
        isStepSelected = "";
        isWaterSelected = "";
        isSleepSelected = "";
    }

    public void waterClick()
    {
        isCalorieSelected = "";
        isStepSelected = "";
        isWaterSelected = "selected";
        isSleepSelected = "";
    }

    public void sleepClick()
    {
        isCalorieSelected = "";
        isStepSelected = "";
        isWaterSelected = "";
        isSleepSelected = "selected";
    }
}